<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter by:</div>
      <div class="col-md-4">
        <input type="text" [(ngModel)]="filteredByName" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" *ngIf="filteredByName">
        <h4>Filtered by: {{ filteredByName }}</h4>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table" *ngIf="filteredEvents.length; else noproduct">
        <thead>
          <tr>
            <th>
              <button (click)="toggleImage()" class="btn btn-primary">
                {{ showImage ? "Hide" : "show" }} logo
              </button>
            </th>
            <th>Event</th>
            <th>Code</th>
            <th>Date</th>
            <th>Price</th>
            <th>Appreciation</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let event of filteredEvents">
            <td>
              <img
                *ngIf="showImage"
                [src]="event.imageUrl"
                [style.width.px]="widthImage"
                [style.height.px]="heightImage"
                [style.margin.px]="marginImage"
              />
            </td>
            <td>
              <a [routerLink]="['/events', event.id]"> {{ event?.name }}</a>
            </td>
            <td>{{ event?.code | uppercase | spaceToDash }}</td>
            <td>{{ event?.date }}</td>
            <td>{{ event?.price | currency: "EUR":"symbol":"2.2-2" }}</td>
            <td>
              <event-star
                [starsRating]="event.rating"
                (getRatingStars)="onGetRatingStars($event)"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"
              ></event-star>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Based in the evaluation showed by the participants, this event has a
        rating evaluation: {{ theRatingStars }}
      </div>
    </div>
  </div>
</div>
<div class="alert alert-danger" *ngIf="errorMessage">
  Error: {{ errorMessage }}
</div>
<ng-template #noproduct>
  <div class="alert alert-warning">There is no event matching your search:</div>
</ng-template>
